body, html {
    margin: auto;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(48, 48, 48);
}

.allthepage {
    background-color: rgb(226, 226, 226);
    margin: 32px;
    padding: 32px;
    border-radius: 5px;
}
header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

header h1 {
    margin: 0;
    padding: 4px;
}

.image {
    background-color: white;
    margin: 8px;
    padding: 32px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image .ici {
    color: red;
    font-size: 26px;
}

.dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.dates .fin_phrase {
    color: rgb(239, 163, 67);
    font-size: 28px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    height: 100%;
}

.link {
    text-align: center;
}

#submit {
    width: 100%;
    height: 30px;
}